<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <header class="bg-blue pading-1rem font-15">
      <div class="container flex justify-between ">
       <div>
        <a href="/" class="color-white text-shadow">Home</a>
      </div>
      <nav>
        <a href="/users/new">
          <button class ="btn">Add Articles</button>
        </a>
      </nav>
      </div>
    </header>
    <main class="bg-green height">
      <section class="container text-center pading-1rem">
<h1 class="margin-tb text-shadow font-2">Blog App</h1>
<a href="/users">
  <button class="btn">Go to Articles</button>
</a>
      </section>
    </main>
  </body>
</html>
