<!DOCTYPE html>
<html>
  <head>
     <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <header class="bg-blue pading-1rem font-15 ">
      <div class="container flex justify-between ">
       <div>
        <a href="/" class="color-white text-shadow">Home</a>
      </div>
      <nav>
        <a href="/users/new">
          <button class ="btn ">Add Articles</button>
        </a>
      </nav>
      </div>
    </header>
    <main class="bg-green height scrollbar-none">
      <section class="container text-center pading-1rem margin-top ">
<h1 class="margin-tb text-shadow font-2 ">Blog App</h1>
<a href="/users">
  <button class="btn">Go to Articles</button>
</a>
      </section>
    </main>
  </body>
</html>
