* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Nunito', sans-serif;
}

.container {
  width: 1600%;
  max-width: 90%;
  margin: 0 auto;
}

/* background color */
.bg-green {
  background-color: rgb(43, 44, 82);
}
.bg-blue {
  background-color: rgb(25, 25, 50);
}
.bg-red {
  background-color: red;
}
.bg-transparent {
  background: transparent;
}
.border-bottom {
  border-bottom: 2px solid rgb(79, 78, 78);
}
/* color */
.color-white {
  color: white;
}
.color-pink {
  color: rgb(20, 200, 38);
}

.color-gray {
  color: rgb(156, 156, 224);
}
.word-rap {
  word-wrap: break-word;
}
a {
  text-decoration: none;
  cursor: pointer;
}

.text-captilize {
  text-transform: capitalize;
}
/* margin pading */
.pading-1rem {
  padding: 1rem;
}
.pading-5rem {
  padding: 0.5rem;
}
.margin-tb {
  margin: 2rem 0;
}
.margin {
  margin: 2rem auto;
}
.margin-left {
  margin-left: 1rem;
}
.margin-right {
  margin-right: 1rem;
}
.margin-top {
  margin-top: 5rem;
}
.margin-bottom {
  margin-bottom: 3rem;
}
.margin-bottom2 {
  margin-bottom: 2rem;
}
.resize {
  resize: none;
}

.height {
  height: 100vh;
  overflow-y: scroll;
}

.line-height {
  line-height: 1.5;
}
.width {
  width: 90%;
}
.width-30 {
  width: 30%;
}
.width-40 {
  width: 40%;
}
.width-50 {
  width: 50%;
}
.maxwidth-60 {
  max-width: 60%;
}
.border-black {
  border: 2px solid;
}
.overflow-hidden {
  overflow-y: hidden;
}
.overflow-scroll-y {
  overflow-y: scroll;
}
.btn {
  font-size: 1.3rem;
  padding: 0.3rem;
  outline: none;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0px 0px 1px 1px gray;
  background-color: rgb(43, 44, 82);
  color: aliceblue;
  text-shadow: 2px 2px 2px rgb(101, 99, 99);
}
.btn:active {
  position: relative;
  bottom: -1px;
  box-shadow: 0px 2px 2px 2px gray;
}

.text-shadow {
  text-shadow: 2px 1px 2px rgba(222, 217, 217, 0.321);
}

.scrollbar-none::-webkit-scrollbar {
  display: none;
}
.max-height10 {
  max-height: 10rem;
}

.max-height14 {
  max-height: 14rem;
}
/* font size */
.font-15 {
  font-size: 1.5rem;
}
.font-13 {
  font-size: 1.3rem;
}

.font-2 {
  font-size: 3rem;
}
/* flex */
.flex {
  display: flex;
}
.justify-between {
  justify-content: space-between;
}
.justify-center {
  justify-content: center;
}
.flex-colum {
  flex-direction: column;
}
.flex-row {
  flex-direction: row;
}
.align-item {
  align-items: center;
}

.text-center {
  text-align: center;
}

.form-div {
  border: 2px solid rgb(25, 25, 50);
  max-width: 100%;
}

input,
textarea {
  margin: 1rem 0;
  padding: 0.7rem;
  font-size: 1.3rem;
  border-radius: 5px;
  border: none;
}

header {
  position: fixed;
  display: inline-block;
  width: 100%;
}

.position-fixed {
  position: fixed;
  display: inline-block;
  width: 100%;
}
